{% extends 'base_dropdown.html' %}

{% block content %}


<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label>제목</label>
            <input type="text" name="title">
        </div>
        <div>
            <label>내용</label>
            <textarea name="content" cols="50" rows="10"></textarea>
        </div>
        <div>
          <div>
            <label for="first">구</label>
              <select id="first" name="first">
                <option value="" selected="selected">구</option>
              </select>
          </div>
        <div>
          <label for="second">장소</label>
            <select id="second" name="second">
              <option value="" selected="selected">장소</option>
            </select>
        </div>
          <button type="button" value="추가" id="add">추가</button>      
        </div>
        <div>
          <br><div id="container"></div> <br>
            <label>이미지</label>
            <input name="thumbnail" type="file" multiple>
        </div>
        <button type="submit" class ="btn btn-primary">작성</button>
        <input type="text" id="place" name="place" value="">
    </form>
</div>

<script>
  let sel_value = '';
  document.getElementById('add').onclick = function() {
    // var value = document.getElementById("second").selectedOptions[0].value;
      const value = document.querySelector("select[name='second'] option:checked").text;
    //alert("value : ", value);
        sel_value = sel_value + value + ',';
      document.getElementById("container").innerHTML = '선택하신 동은 ' + sel_value;
      document.getElementById("place").value = sel_value;
  }


</script>
{% endblock %}

</html>