{% extends 'base_post.html' %}

{% block content %}
        <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

            <h1>{{ post.title }}</h1>
            <p>작성자: {{ post.user.id }} | 작성일: {{ post.created }}</p>
            <hr>
            <p>{{ post.content }}</p>
            {% if post.postimage_set.all %}
                <h3>게시글 이미지</h3>
                <div class="w3-row">
                    {% for image in post.postimage_set.all %}
                        <div class="w3-quarter">
                            <img src="{{ image.photo.url }}" class="card-img-top" alt="게시글 이미지" width="300" height="200">
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <hr>   

            <h3>여행 장소</h3>
            <div class="w3-row">            
                <!-- 여행 장소 정보 -->
                {% for place in post.place.all %}
                    <div class="w3-quarter">
                        <!-- 직접 URL을 사용하여 이미지 표시 -->
                         <a href="{% url 'seoul:place_detail' place.id %}">
                            <img src="{{ place.place_image }}" class="card-img-top" alt="{{ place.name }} 이미지" width="300" height="200">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ place.name }}</h5>
                            <p class="card-text">{{ place.address }}</p>
                            {% if place.id in completed_places_list %}
                                {% if user.is_authenticated %}
                                <a href="{% url 'post:place_uncomplete' post.id place.id %}" class="btn btn-warning btn-sm">✔</a>
                                {% endif %}
                                {% else %}
                                {% if user.is_authenticated %}
                                    <a href="{% url 'post:place_complete' post.id place.id %}" class="btn btn-success btn-sm">완료하기</a>
                                {% else %}
                                    <p><a href="{% url 'user:login' %}">로그인</a> 후 완료할 수 있습니다.</p>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% empty %}
                    <p>등록된 여행 장소가 없습니다.</p>
                {% endfor %}
            </div>

        <h3>댓글</h3>
        <ul>
            {% for comment in comments %}
            <li>
                <strong>{{ comment.user.id }}</strong> ({{ comment.created}})
                <p>{{ comment.content }}</p>
                {% if user == comment.user %}
                <form method="POST" action="{% url 'post:comment_delete' comment.id %}">
                    {% csrf_token %}
                    <button type="submit">댓글 삭제</button>
                </form>
                {% endif %}
            </li>
            {% endfor %}
        </ul>

            {% if user.is_authenticated %}
                <h4>댓글 작성</h4>
                <form method="POST" action="{% url 'post:comment_add' post.id %}">
                {% csrf_token %}
                {{ comment_form.as_p }}
                    <button type="submit">댓글 등록</button>
                </form>
            {% else %}
                <p><a href="{% url 'user:login' %}">로그인</a> 후 댓글을 작성할 수 있습니다.</p><!-- 로그인 기능 검사해야함-->
            {% endif %}

        {% if user == post.user %}
            <hr>
            <a href="{% url 'post:post_edit' post.id %}">글 수정</a>
            <hr>
            <a href="{% url 'post:post_delete' post.id %}">글 삭제</a>
        {% endif %}
        
        <hr>
        <a href="{% url 'post:main' %}">홈으로 돌아가기</a>
            </div>
    </div>
      
{% endblock %}

</html>