{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'seoul/seoul.css' %}" rel="stylesheet">
    <title>Places of Seoul</title>
</head>
<body>
    <div>
        <ul>
          <li>
            <img src="http://lorempixum.com/100/100/nature/1" >
            <h3>The Grasslands</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet.</p>
          </li>
            
          <li>
            <img src="http://lorempixum.com/100/100/nature/2" >
            <h3>Paradise Found</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet.</p>
          </li>
      
          <li>
            <img src="http://lorempixum.com/100/100/nature/3" >
            <h3>Smoke On The Water</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet.</p>
          </li>
      
          <li>
            <img src="http://lorempixum.com/100/100/nature/4" >
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet.</p>
          </li>
        </ul>
      </div>
</body>
</html>