{% extends 'base_nav.html' %}


{% block content %}  
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

  <style> a{ text-decoration: none;}</style>
  <!-- First Photo Grid -->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food"><!--목록들 시작-->
  {% for place in page_obj %}
 
    <div class="w3-quarter">
      <img src="{{ place.place_image }}" alt="Seoul Planner" width="250", height="170">
      <h4><a href="{{ place.id }}/" >{{ place.name|truncatechars:12 }}</a> </h4> 
      <p>{{ place.address|truncatechars:20 }}</p>
    </div>
  {% endfor %}
  </div>

  
  <!-- Pagination -->
<div class="w3-center w3-padding-32">
    <div class="w3-bar">

        {% if page_obj.has_previous %}
          <a href="?page=1" class="w3-bar-item w3-button w3-hover-black">«</a>
          <a href="?page={{ page_obj.previous_page_number }}" class="w3-bar-item w3-button w3-hover-black">‹</a>
        {% endif %}
    
        {% for num in page_obj.paginator.page_range %}
          {% if num >= page_obj.number|add:"-3" and num <= page_obj.number|add:"3" %}
            {% if num == page_obj.number %}
              <a href="?page={{ num }}" class="w3-bar-item w3-black w3-button">{{ num }}</a>
            {% else %}
              <a href="?page={{ num }}" class="w3-bar-item w3-button w3-hover-black">{{ num }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
    
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class="w3-bar-item w3-button w3-hover-black">›</a>
          <a href="?page={{ page_obj.paginator.num_pages }}" class="w3-bar-item w3-button w3-hover-black">»</a>
        {% endif %}
    </div>
  </div>
   <div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page=1">처음</a>
        <a href="?page={{ page_obj.previous_page_number }}">이전</a>
    {% endif %}


</div>
  <hr id="about">
</div>


{% endblock %}
</html>
