{% extends '_base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'posts/static/style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script>
let data = [{
    item: 'Fruits',
    subitems: ['apple', 'banana', 'pineapple', 'watermelon']
  },
  {
    item: 'Meals',
    subitems: ['chicken', 'bacon', 'pork', 'beef']
  },
  {
    item: 'Animals',
    subitems: ['cat', 'rabbit', 'mouse', 'lion']
  },
  {
    item: 'Brands Laptops',
    subitems: ['Dell', 'HP', 'Apple', 'Sony'],
  },
];


window.onload = function() {
  var itemSel = document.getElementById("first");
  var subitemSel = document.getElementById("second");

  for (var x in data) {
    itemSel.options[itemSel.options.length] = new Option(data[x].item, x);
  }
  itemSel.onchange = function() {
    //empty 
    subitemSel.length = 1;
    //display correct values
    for (var y of data[this.value].subitems) {
      subitemSel.options[subitemSel.options.length] = new Option(y, y);
    }
  }
}
</script>
{% endblock %}

{% block base_content %}
{% include 'nav.html' %}
    {% block content %}{% endblock %}
{% endblock %}