{% extends '_base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'posts/static/style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script>
let data = [
  {
    item: "강서구",
    subitems: [
      "국립항공박물관",
      "강서농산물도매시장",
      "롯데몰 김포공항점",
      "허준박물관",
      "약사사(서울)"
    ]
  },
  {
    item: "송파구",
    subitems: [
      "롯데월드 어드벤처",
      "롯데월드타워&롯데월드몰",
      "키자니아 서울",
      "롯데월드 아쿠아리움 ",
      "롯데월드타워 서울스카이",
      "올림픽공원",
      "시그니엘서울 리트릿 시그니엘",
      "잠실한강공원",
      "올림픽공원체조경기장",
      "한성백제박물관",
      "가락수산시장",
      "가락몰",
      "가든파이브라이프(Garden5life)",
      "방이시장"
    ]
  },
  {
    item: "용산구",
    subitems: [
      "남산서울타워",
      "국립중앙박물관",
      "이촌한강공원",
      "국립중앙박물관 어린이박물관",
      "국립한글박물관",
      "용산가족공원",
      "아이파크몰 용산점",
      "용산전자랜드",
      "롯데쇼핑 롯데아울렛 서울역점[한국관광 품질인증/Korea Quality]"
    ]
  },
  {
    item: "종로구",
    subitems: [
      "경복궁",
      "국립현대미술관 서울",
      "북악스카이 팔각정",
      "롤파크",
      "동대문 종합시장·동대문 쇼핑타운",
      "북촌한옥마을",
      "창경궁",
      "광장시장",
      "조계사(서울)",
      "낙원 악기상가",
      "낙산공원",
      "경인미술관",
      "대한민국역사박물관",
      "서울공예박물관",
      "동묘벼룩시장",
      "경희궁",
      "돈의문박물관마을",
      "창덕궁과 후원 [유네스코 세계유산]",
      "청계천",
      "청와대 사랑채",
      "올레스퀘어ALL-IP라운지",
      "동대문 문구완구거리",
      "그라운드시소 서촌",
      "통인시장",
      "두산갤러리",
      "대림미술관",
      "쌈지길",
      "광화문광장",
      "서울역사박물관",
      "서울 운현궁",
      "세운상가"
    ]
  },
  {
    item: "중구",
    subitems: [
      "남대문시장",
      "서울 명동성당",
      "덕수궁",
      "국립현대미술관 덕수궁",
      "신당동 떡볶이 골목",
      "제일평화시장",
      "서소문성지역사박물관",
      "두산타워 (doota)",
      "신세계백화점 본점",
      "남산공원(서울)",
      "밀리오레 동대문점",
      "방산 종합시장",
      "장충동 족발 골목",
      "서울시립미술관(서소문본관)",
      "서울 중부시장",
      "서소문역사공원",
      "남산 케이블카"
    ]
  },
  {
    item: "강남구",
    subitems: [
      "봉은사(서울)",
      "신사동 가로수길",
      "스타필드 코엑스몰",
      "서울무역전시컨벤션센터(SETEC)",
      "한국종합무역센터(코엑스)",
      "도산공원",
      "현대백화점 압구정본점",
      "현대백화점 무역센터점",
      "갤러리아백화점 명품관"
    ]
  },
  {
    item: "광진구",
    subitems: [
      "서울어린이대공원",
      "커먼그라운드",
      "테크노마트 강변점",
      "뚝섬한강공원",
      "우리유황온천",
      "서울상상나라",
      "강변스파랜드",
      "아차산"
    ]
  },
  {
    item: "마포구",
    subitems: [
      "망원시장",
      "하늘공원",
      "한강시민공원 망원지구(망원한강공원)",
      "서울함공원",
      "마포농수산물시장"
    ]
  },
  {
    item: "서대문구",
    subitems: [
      "서대문자연사박물관",
      "서대문형무소역사관",
      "모래내시장",
      "포방터시장",
      "백련사(서울)"
    ]
  },
  {
    item: "서초구",
    subitems: [
      "세빛섬",
      "The-K호텔서울 (더케이호텔서울)",
      "서울 헌릉(태종·원경왕후)과 인릉(순조·순원황후) [유네스코 세계유산]",
      "예술의전당 한가람미술관",
      "고속터미널 꽃도매상가",
      "반포한강공원",
      "매헌 시민의 숲",
      "잠원한강공원",
      "센트럴시티"
    ]
  },
  {
    item: "성동구",
    subitems: [
      "서울숲",
      "금남시장",
      "한강",
      "달맞이봉공원",
      "마장 축산물시장 "
    ]
  },
  {
    item: "성북구",
    subitems: [
      "길상사(서울)",
      "한국가구박물관",
      "서울 의릉(경종·선의왕후) [유네스코 세계유산]"
    ]
  },
  {
    item: "은평구",
    subitems: [
      "진관사(서울)",
      "은평한옥마을",
      "연서시장"
    ]
  },
  {
    item: "동대문구",
    subitems: [
      "경동시장",
      "청량리청과물시장",
      "세종대왕박물관",
      "서울 영휘원(순헌황귀비)과 숭인원(이진)"
    ]
  },
  {
    item: "강동구",
    subitems: [
      "서울 암사동 유적",
      "암사동 선사유적박물관",
      "광나루한강공원",
      "천호공원"
    ]
  },
  {
    item: "강북구",
    subitems: [
      "북서울꿈의숲",
      "수유시장",
      "국립4·19민주묘지"
    ]
  },
  {
    item: "구로구",
    subitems: [
      "고척 스카이돔",
      "푸른수목원"
    ]
  },
  {
    item: "동작구",
    subitems: [
      "성대시장",
      "보라매공원",
      "노량진수산물도매시장"
    ]
  },
  {
    item: "금천구",
    subitems: [
      "독산동우시장"
    ]
  },
  {
    item: "영등포구",
    subitems: [
      "양화한강공원",
      "IFC몰",
      "더현대 서울",
      "씨랄라 워터파크",
      "대신시장",
      "타임스퀘어"
    ]
  },
  {
    item: "노원구",
    subitems: [
      "노원천문우주과학관",
      "서울 태릉(문정왕후)과 강릉(명종·인순왕후) [유네스코 세계유산]"
    ]
  },
  {
    item: "도봉구",
    subitems: [
      "신창시장"
    ]
  },
  {
    item: "양천구",
    subitems: [
      "행복한백화점",
      "서서울호수공원"
    ]
  },
  {
    item: "관악구",
    subitems: [
      "관악산 낙성대공원"
    ]
  }
];


window.onload = function() {
  var itemSel = document.getElementById("first");
  var subitemSel = document.getElementById("second");

  for (var x in data) {
    itemSel.options[itemSel.options.length] = new Option(data[x].item, x);
  }
  itemSel.onchange = function() {
    //empty 
    subitemSel.length = 1;
    //display correct values
    for (var y of data[this.value].subitems) {
      subitemSel.options[subitemSel.options.length] = new Option(y, y);
    }
  }
}
</script>
{% endblock %}

{% block base_content %}
{% include 'nav.html' %}
    {% block content %}{% endblock %}
{% endblock %}